.button {
  padding: .6rem 2.25rem;
  display: inline-block;

  background-color: var(--color-orange);

  border-radius: 20px;
  border: 1px solid var(--color-orange);

  color: var(--color-white);
  font-size: 18px;
  letter-spacing: 0.1em;
  text-decoration: none;

  transition: all .3s;
}

.button:hover {
  filter: brightness(150%);
}

.button--outline {
  background: none;

  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.button--outline:hover {
  background: var(--color-orange);

  color: var(--color-white);
  border: 1px solid var(--color-orange);
}

@media screen and (max-width: 768px) {
  .button {
    padding: .6rem 1.25rem;
    font-size: 12px;
  }
}