.navbar {
  height: 80px;
  padding: 1em 0;
  display: flex;
  align-items: center;

  background-color: #fff;
}

.navbar__title {
  margin-left: auto;

  font-size: 18px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 65px;
    padding: .25em 0;

    justify-content: center;
  }

  .navbar__logo img {
    height: 30px;
  }

  .navbar__title {
    display: none;
  }
}