.products {
  padding: 4em 0 8em;
}

.products__title {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1em;
}

.products__title--color-orange {
  color: var(--color-orange);
}

.products__container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .products {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .products__title {
    width: 270px;
    margin: 0 auto;

    font-size: 14px;
  }

  .products__container {
    padding-top: 2em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    grid-gap: 1rem;
  }
}