<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CarnaStore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/styles/index.css">
  <script src="../assets/js/home.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="navbar">
        <div class="navbar__logo">
          <img src="../assets/images/logo.svg" alt="logo">
        </div>

        <div class="navbar__title">
          Venha ser felix no carnaval!
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="product">
      <img src="../assets/images/particles-top.svg" alt="particles-top" class="product__particles">
      
      <div class="product__content">
        <img src="../../layout/images/fantasia-01.png" alt="fantasia-01" class="product__image">

        <div class="product__info">
          <div class="product__name">
            Fantasia Amazônica
          </div>

          <div class="product__description">
            Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
          </div>

          <div class="product__price">
            De <span class="product__price--dashed">R$ 200,00</span> por <strong>R$ 100,00</strong>
          </div>
          
          <form action="#" class="product__form">
            <div class="product__size">
              <div class="product__size__title">Escolha o tamanho</div>

              <input type="radio" id="pp" class="product__form_radio" name="size" value="PP">
              <label for="pp" class="product__form__label">PP</label>
              
              <input type="radio" id="p" class="product__form_radio" name="size" value="P">
              <label for="p" class="product__form__label">P</label>
              
              <input type="radio" id="m" class="product__form_radio" name="size" value="M">
              <label for="m" class="product__form__label">M</label>
              
              <input type="radio" id="g" class="product__form_radio" name="size" value="G">
              <label for="g" class="product__form__label">G</label>
              
              <div class="product__form__button">
                <input type="submit" value="Adicionar ao carrinho" class="button">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="products__title">
        Outras fantasias que vc vai gostar
      </div>

      <div class="container products__container">
        <div class="card">
          <img src="../../layout/images/fantasia-01.png" alt="fantasia-01" class="card__image">

          <div class="card__price">
            De R$ 200 por <span class="card__price--color-orange"><strong>&nbsp;R$ 100</strong></span>

            <a href="#" class="button card__button">Mais detalhes</a>
          </div>
        </div>

        <div class="card">
          <img src="../../layout/images/fantasia-02.png" alt="fantasia-02" class="card__image">

          <div class="card__price">
            De R$ 200 por <span class="card__price--color-orange"><strong>&nbsp;R$ 100</strong></span>

            <a href="#" class="button card__button">Mais detalhes</a>
          </div>
        </div>

        <div class="card">
          <img src="../../layout/images/fantasia-03.png" alt="fantasia-03" class="card__image">

          <div class="card__price">
            De R$ 200 por <span class="card__price--color-orange"><strong>&nbsp;R$ 100</strong></span>

            <a href="#" class="button card__button">Mais detalhes</a>
          </div>
        </div>

        <div class="card">
          <img src="../../layout/images/fantasia-01.png" alt="fantasia-03" class="card__image">

          <div class="card__price">
            De R$ 200 por <span class="card__price--color-orange"><strong>&nbsp;R$ 100</strong></span>

            <a href="#" class="button card__button">Mais detalhes</a>
          </div>
        </div>

        <div class="card">
          <img src="../../layout/images/fantasia-02.png" alt="fantasia-03" class="card__image">

          <div class="card__price">
            De R$ 200 por <span class="card__price--color-orange"><strong>&nbsp;R$ 100</strong></span>

            <a href="#" class="button card__button">Mais detalhes</a>
          </div>
        </div>

        <div class="card">
          <img src="../../layout/images/fantasia-03.png" alt="fantasia-03" class="card__image">

          <div class="card__price">
            De R$ 200 por <span class="card__price--color-orange"><strong>&nbsp;R$ 100</strong></span>

            <a href="#" class="button card__button">Mais detalhes</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <section class="footline">
      <div class="container footline__container">
        <img src="../assets/images/white-logo.svg" alt="white-logo" class="footline__logo">

        <a href="mailto:contato@carnastore.com" class="footline__email">
          contato@carnastore.com
        </a>
      </div>
    </section>

    <section class="payment">
      <div class="container payment__container">
        <img src="../assets/images/cards.svg" alt="cards" class="payment__cards">
        <img src="../assets/images/security-icon.svg" alt="cards" class="payment__security">
      </div>
    </section>

    <section class="copyright">
      Desenvolvido pela <strong>Humanoide</strong>
    </section>
  </footer>
</body>
</html>